
.iconfont {
  font-family:"iconfont" !important;
  font-size: .42rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.mui-toast-container{
	bottom:80px;
}

#offCanvasSideScroll{
	background: rgba(255,255,255,0.8);
}
#slideContainer .mui-table-view-cell.selected{
	background: #dad4cd;
}
#choiceSideContainer{
	padding: 10px;
}
#choiceSideContainer .name{
	padding: 5px 0;
	border-bottom: 1px solid #eee;
}
#choiceSideContainer .cont{
	overflow: hidden;
}
#choiceSideContainer .lis{
	float: left;
    width: 33.33%;
    min-width: 100px;
    max-width: 120px;
    text-align: center;
}
#choiceSideContainer .lis>b{
    font-size: 12px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #eee;
    display: block;
    margin: 5px;
    border-radius: 5px;
    padding: 0 4px;
}
#choiceSideContainer .lis.selected>b{
	border-color: #df760f;
	color: #df760f;
}

#ymask {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    background: transparent!important;
    z-index: 999;
    height: 30px;
}
#ymask>.in{
	bottom:0;
}
table{
	width: 100%;
}
th{
    background: #f9f9f9;
}
th , td{
    padding: 5px;
    font-size: 12px;
    text-align: center;
}
